### Notebook para transformação dos arquivos csv

In [1]:
import pandas as pd
from datetime import datetime, date

#### Transforma o arquivo dos dados do auxilio

In [2]:
path_auxilio = '../datasets/dados.csv'

df_auxilio = pd.read_csv(path_auxilio, sep=',', encoding= 'UTF-8')

df_auxilio.head()

,codigo_ibge,anomes_s,pab_qtd_fam_benef_i,pab_valor_pago_d,pab_valor_medio_d,pab_extraordinario_qtd_fam_i,pab_extraordinario_valor_pago_d,pab_extraordinario_valor_medio_d
0,110001,202302,1766,1062180.0,601.46,NaN,NaN,NaN
1,110002,202302,5744,3454070.0,601.34,NaN,NaN,NaN
2,110003,202302,301,179593.0,596.65,NaN,NaN,NaN
3,110004,202302,5753,3475545.0,604.13,NaN,NaN,NaN
4,110005,202302,997,599000.0,600.80,NaN,NaN,NaN

In [3]:
df_auxilio = df_auxilio.drop(['pab_extraordinario_qtd_fam_i','pab_extraordinario_valor_pago_d','pab_extraordinario_valor_medio_d'], axis = 1)#dropa colunas que não usaremos

df_auxilio['cod_uf'] = df_auxilio['codigo_ibge'].astype(str).str.slice(0, 2)#transforma a coluna codigo em string e extrai apenas os 2 primeiros digitos

df_auxilio.head()

,codigo_ibge,anomes_s,pab_qtd_fam_benef_i,pab_valor_pago_d,pab_valor_medio_d,cod_uf
0,110001,202302,1766,1062180.0,601.46,11
1,110002,202302,5744,3454070.0,601.34,11
2,110003,202302,301,179593.0,596.65,11
3,110004,202302,5753,3475545.0,604.13,11
4,110005,202302,997,599000.0,600.80,11

#### Transforma o arquivo dos dados do ibge

In [9]:
path_ibge = '../datasets/cidades_ibge.csv'

df_ibge = pd.read_csv(path_ibge, sep=',', encoding= 'Windows 1252', skiprows=6)

df_ibge.head()

,UF,Nome_UF,Região Geográfica Intermediária,Nome Região Geográfica Intermediária,Região Geográfica Imediata,Nome Região Geográfica Imediata,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,Código Município Completo,Nome_Município
0,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste
1,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis
2,11,Rondônia,1101,Porto Velho,110002,Ariquemes,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso
3,11,Rondônia,1102,Ji-Paraná,110004,Ji-Paraná,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste
4,11,Rondônia,1101,Porto Velho,110002,Ariquemes,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes

In [28]:

df_dados_ibge = df_ibge[['Nome_UF', 'UF']]
df_dados_ibge = df_dados_ibge.rename(columns={"UF": "cod_uf"}).astype(str)


df_dados_ibge = df_dados_ibge.drop_duplicates()
df_dados_ibge.head()

      Nome_UF cod_uf
0    Rondônia     11
52       Acre     12
74   Amazonas     13
136   Roraima     14
151      Pará     15

### Juntando os arquivos e realizando as últimas transformações

In [30]:
df_result = pd.merge(df_auxilio, df_dados_ibge, on='cod_uf', how='left')
df_result

,codigo_ibge,anomes_s,pab_qtd_fam_benef_i,pab_valor_pago_d,pab_valor_medio_d,cod_uf,Nome_UF
0,110001,202302,1766,1062180.0,601.46,11,Rondônia
1,110002,202302,5744,3454070.0,601.34,11,Rondônia
2,110003,202302,301,179593.0,596.65,11,Rondônia
3,110004,202302,5753,3475545.0,604.13,11,Rondônia
4,110005,202302,997,599000.0,600.80,11,Rondônia
...,...,...,...,...,...,...,...
89115,522200,202111,375,77127.0,205.67,52,Goiás
89116,522205,202111,701,129055.0,184.10,52,Goiás
89117,522220,202111,533,105392.0,197.73,52,Goiás
89118,522230,202111,538,96102.0,178.63,52,Goiás
89119,530010,202111,91103,20497747.0,225.00,53,Distrito Federal